*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poopins', sans-serif;
}
.items {
    gap: 5;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items:  center;
    justify-content:  center;
}
.div-items {
    width: 80%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto ;
}
.div-items p {
    padding-top: 4%;
    font-size: 21px;
    font-weight: 300;
    font-family: "Taviraj", serif;

}
.div-items h3 {
    padding-top: 5%;
    font-size: 28px;
    font-weight: 500;
    padding-right: 5%;
    /* font-family: "Ribeye", serif; */

}
.div-items h4 {

    font-size: 30px;
  font-family: "Bad Script", cursive;
}
.div-items img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    max-width: 250px;
    height: 250px;
    box-shadow: 10px 10px 30px rgba(85, 79, 79, 0.7); /* Adds depth */
    transition: 2s;
}
.div-items img:hover {
    
    transform: rotateY(-45deg) skew(-15deg); /* Rotates on Y-axis */
    box-shadow: 10px 10px 30px rgba(68, 57, 57, 0.7); /* Adds depth */

}
.items hr {
    display: none;
}

@media (max-width: 800px) {
    .items {
        gap: 5;
        margin-top: 2%;
        margin-bottom: 10%;
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items:  center;
        justify-content:  center;
    }
    .div-items img {
        width: 100%;
        object-fit: cover;
        box-shadow: 3px 3px 10px rgba(85, 79, 79, 0.7); /* Adds depth */
        max-width: 150px;
        height: 150px;
    }
    .div-items p {
        line-height: 1.6;
        font-size: 17px;
        font-weight: 300;
    }
    .div-items h3 {
        font-size: 23px;

        padding-right: 5%;

    
    }
    .div-items h4 {
        font-size: 25px;
    
    }
}
@media (max-width: 500px) {
    .items {
        gap: 5;
        margin-top: 2%;
        margin-bottom: 10%;
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items:  center;
        justify-content:  center;
    }
    .div-items {
        padding:10% 0;
        width: 80%;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-columns: auto  ;
    }
    /* Styling for the horizontal line */
    .items hr {
        display: block;
        width: 100%; /* Makes it span the full width of the container */
        height: 4px; /* Adjust thickness */
        border: none;
        background-color: rgba(12, 16, 12, 0.5); /* Light white color */
        margin: 10px 0; /* Adjust spacing */
  }
  
}